body {
    text-align: center;
    font-size: 1em;
    background: #191919;
    color: white;
}


.infoBar {
    width: 505px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    margin: 4px auto 0 auto;
    font-size: 1.25em;
}

.health {
    width: 40%;
}


.score {
    width: 40%;
}


.hearts {
    height: 9%;
    width: 9%;
    padding: 3px 3px 0px 3px;
    justify-content: space-around;
}


.muted {
    width: 20%;
    height: auto;
    background-image: url(/images/mute.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 100;
}

.unmuted {
    width: 20%;
    height: auto;
    background-image: url(/images/unmute.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 100;
}

.modal {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    border-color: #bbb;
    border-radius: 4px;
    padding: 2em 4em;
    background-color: #fff;
    z-index: 1001;
    width: 505px;
    display: none;
    color: #000;
}


.modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}


h1 {
    margin-top: 0;
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.warning {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}


/* Overrides of native classes in Sweetalert2 */

.swal2-popup {
    background: #FFEB3B !important;
}


.swal2-title {
    color: #491a9d !important;
}